body{
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;

}
form{
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: white;
  height: 180px;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.input{
  padding:8px;
  width: 250px;
}
button{
  background-color: #333;
  padding:8px 15px;
  margin:10px;
  color:white;
  border-radius: 8px;
}